body {
    background-color: rgb(13, 255, 0);
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family:"NeueHaas";
    font-size: 15vw;
    line-height: 1;
}

@font-face {
    font-family:"NeueHaas";
    src: url("typeface-microsite/Fonts/HelveticaNowText-Medium.otf"); format: ("ttf")
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: "NeueHaas";
    color: rgb(0, 0, 0);
    font-size: 100px;
    line-height: 1px;
    text-align: center;
}

p {
    font-family: "NeueHaas";
    color: rgb(0, 0, 0);
    font-size: 10px;

}

li{
    font-family: "NeueHaas";
    color: rgb(0, 0, 0);
    font-size: 50px;
    text-align: center;
    line-height: 1.2;
}

img{
    size-adjust: 50px;
    border-radius: 8px;
    width: 500px;
    display: block;
    margin: auto;
    padding-top: 20px;
}

a:hover {
    color: #ffffff;
  }

